<h1><%= "#{@team.name}" %> - Pelaajat</h1>

<table>
  <tr>
    <th>#</th>
    <th>Nimi</th>    
    <th>Pelipaikka</th>
    <th>Syntynyt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.jersey_number %></td>
    <td><%= player.full_name %></td>
    <td><%= player.position %></td>
    <td><%= player.dob %></td>
    <td><%= link_to 'Näytä', [player.team, player] %></td>
    <td><%= link_to 'Muokkaa', edit_team_player_path(player.team, player) %></td>
    <td><%= link_to 'Poista', [player.team, player], :confirm => "Haluatko varmasti poistaa pelaajan #{player.full_name}?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'Uusi pelaaja', new_team_player_path(params[:team_id]) %><br />
<%= link_to 'Takaisin joukkueisiin', teams_url %>
