<p id="notice"><%= notice %></p>

<p>
  <b>Etunimi:</b>
  <%= @player.first_name %>
</p>

<p>
  <b>Sukunimi:</b>
  <%= @player.last_name %>
</p>

<p>
  <b>Numero:</b>
  <%= @player.jersey_number %>
</p>

<p>
  <b>Syntymäaika:</b>
  <%= @player.dob %>
</p>

<p>
  <b>Position:</b>
  <%= @player.position %>
</p>


<%= link_to 'Muokkaa', edit_team_player_path(@player.team, @player) %> |
<%= link_to 'Takaisin', team_players_path(@player.team) %>
